@using WebIdeias.Helpers
@{
    ViewBag.Title = "Estatísticas";
}

@section Nav
{
@Html.Raw(@Html.NavRender("Stats"))
}

<h2>@ViewBag.Message</h2>
<p>
    put contents - estatisticas
</p>
