@{
    ViewBag.Title = "Início";
}
@section Nav
{
<ul id="nav">
    <li class="selected">@Html.ActionLink("início", "Index", "Home")</li>
    <li>@Html.ActionLink("as minhas ideias", "Index", "User")</li>
    <li>@Html.ActionLink("estatísticas", "Index", "Stats")</li>
</ul>
}

<h2>@ViewBag.Message</h2>
<p>
    put contents - home
</p>
