@using System.Globalization
@using WebIdeas.Models
@using WebIdeas.ViewModels
@{
    var tags = ((ITags) @Model).Tags;
}
<div id="categorias">
    <ul>
        @foreach(var tag in tags)
        {
            <li><a href="@Url.Action(@tag.Id.ToString(CultureInfo.CurrentUICulture), "Category")">@tag.Name</a></li>
        }
    </ul>
</div>