@using System.Globalization
@using WebIdeas.Models
@using WebIdeas.ViewModels
@{
    var tags = ((ITags) @Model).Tags;
}
<div id="categorias">
    <ul>
        @foreach(var tag in tags)
        {
            <li>@Html.ActionLink(@tag.Name, "Details", "Category")</li>
        }
    </ul>
</div>